// @import "common/variables";

/** Import everything from autoload */
// @import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
// @import "common/global";
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/wp-classes";
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";

@import "layouts/print";

body {
	background: #fff;
}

#main-nav-container {
	font-size: 115%;
	text-align: center;
	background: #fff;
	border-bottom: 2px solid #d1d1e0;
	padding-top: 5px;
}

nav.nav-primary {
	display: inline-block;
}

ul.nav > li {
	display: inline-block;
}

.brand {
	color: rgb(120, 120, 120);
}

.nav-separator {
	padding-left: 2ex;
	padding-right: 2ex;
	display: inline-block;
}

.menu-item {
	margin-right: 1ex;
}

.menu-item a {
	color: black;
}

div#main-nav-container > a > img {
	padding-right: 1ex;
}

.current-menu-item {
	border-bottom: 5px solid rgb(101, 163, 208);
}

.nav-icons {
	display: inline-block;
	float: right;
}

.nav-icons > div {
	display: inline-block;
}

.nav-icons > div > img {
	max-height: 20px;
}

/* Phones */
@media screen and (max-width: 768px) {
	.nav-separator {
		display: none;
	}
}

.nav-icons-label {
	margin-right: 1.2ex;
	margin-left: 0.3ex;
}

/* Tablets */

/* Desktops */

/* Large desktops */
@media screen and (max-width: 1200px) {
	.nav-icons-label {
		display: none;
	}
}
