@import '../../../../../../../../../styleguide/src/scss/settings/settings';
@import '../../../../../../../../../styleguide/src/scss/mixins/palette';

.alternation {
	&:nth-child(even) {
		background-color: #fafafa;
	}
}

p.light {
	font-family: 'Lato';
	color: #3e3e3e;
	font-size: 0.9em;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.comments {
	li {
		background: #fff;
		border: 1px solid $darken-2;
		margin-bottom: 2rem;

		.comment-body {
			padding: 1rem;
		}

		.children li {
			border: none;
			border-top: 1px solid $darken-2;
			background: #f8fbfc;
			margin-bottom: 0;
		}
	}
}

.content-nav {
	position: fixed;
	overflow-y: auto;

	&__heading {
		font-size: $h4;
		font-family: $sans-font-family;
		display: block;
		line-height: $space-4;
		margin-bottom: $space-2;
	}

	&__item {
		padding: $space-1 0 $space-1 $space-2;
		margin-bottom: $space-2;
		border-left: 3px solid transparent;
	}

	&__item--active {
		border-left: 3px solid palette(dark-blue);
	}
}
