// @import "common/variables";

/** Import everything from autoload */
// @import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
// @import "common/global";
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/wp-classes";
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";

@import "layouts/print";

//Small Tablets
$breakpoint-sm: 40em;
//Tablet
$breakpoint-md: 65em;
//Laptop and up
$breakpoint-lg: 80em;

// Spacing
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 2rem;
$space-5: 4rem;
$space-6: 8rem;

$container-max-width: 1320px;

// Typography
$sans-font-family: "Scala-Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$line-height-1: 1;
$line-height-2: 1.125;
$line-height-3: 1.25;
$line-height-4: 1.5;
$letter-spacing: 1;
$caps-letter-spacing: 0.2em;
$bold-font-weight: bold;

// Colors
$white: #fff;
$grey: #e4e4e4;
$black: #000;

$dark-blue: #0e5aa4;
$blue: #6ca2d5;
$light-blue: #cee2f2;

$light-green: #d2e1c6;
$green: #438011;

$yellow: #fdb813;
$light-yellow: #fff1ce;

$palettes: (
	grey: (
		xx-light : lighten($grey, 8%),
		x-light  : lighten($grey, 5%),
		light    : lighten($grey, 2%),
		base     : $grey,
		dark     : darken($grey, 8%),
		x-dark   : darken($grey, 24%)
	),
	black: (
		xx-light : lighten($black, 35%),
		x-light  : lighten($black, 22%),
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 8%),
		x-dark   : darken($black, 24%)
	),
	blue: (
		light    : lighten($blue, 2.5%),
		base     : $blue,
		dark     : darken($blue, 8%),
	),
	dark-blue: (
		light    : lighten($dark-blue, 5%),
		base     : $dark-blue,
		dark     : darken($dark-blue, 8%),
	),
	light-blue: (
		light    : lighten($light-blue, 10%),
		base     : $light-blue,
		dark     : darken($light-blue, 8%),
	),
	green: (
		light    : lighten($green, 10%),
		base     : $green,
		dark     : darken($green, 8%),
	),
	light-green: (
		light    : lighten($light-green, 10%),
		base     : $light-green,
		dark     : darken($light-green, 8%),
	),
	yellow: (
		light    : lighten($yellow, 10%),
		base     : $yellow,
		dark     : darken($yellow, 8%),
	),
	light-yellow: (
		light    : lighten($light-yellow, 10%),
		base     : $light-yellow,
		dark     : darken($light-yellow, 8%),
	),
);

@function palette($palette, $shade: 'base') {
	@return map-get(map-get($palettes, $palette), $shade);
}

.main-nav {
	background: $white;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(231, 231, 231, 0.5);
}

.main-nav__container {
	display: flex;
	flex-wrap: wrap;
	max-width: $container-max-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;

	@media screen and (min-width: $breakpoint-md) {
		flex-wrap: no-wrap;
	}
}

.main-nav__logo-wrapper {
	padding: $space-3;
	padding-left: $space-2;

	@media screen and (min-width: $breakpoint-md) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.main-nav__list {
	display: none;

	@media screen and (min-width: $breakpoint-md) {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		flex: 1;
		padding-left: $space-3;
	}
}

.main-nav__item {
	@media screen and (min-width: $breakpoint-md) {
		display: inline-block;
		position: relative;
		margin-left: $space-4;
		overflow: hidden;

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border-bottom: 5px solid $blue;
			border-radius: 1px 1px 0 0;
			transform: translateY(100%);
			transition: transform 0.1s ease-in-out;
		}

		&.active {
			&::after {
				border-bottom: 5px solid palette(dark-blue, base);
				transform: translateY(0);
			}
		}

		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
}

.main-nav__link {
	display: block;
	color: $black;
	font-weight: $bold-font-weight;
	font-size: 0.9375rem;
	padding: 1.5rem 0;
}

.main-nav__utilities {
	display: inline-flex;
	align-items: center;

	@media screen and (min-width: $breakpoint-md) {
		order: 3;
	}
}

.main-nav__icon-btn {
	display: inline-flex;
	margin-left: $space-1;
}

.icon-button {
	height: 40px;
	width: 40px;
	border: 1px solid palette(grey, light);
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background 0.1s ease-in-out;

	&:hover {
		background: palette(grey, light);
	}
}

.main-nav__menu-btn {
	@media screen and (min-width: $breakpoint-md) {
		display: none;
	}
}

.main-nav__show-more-btn {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

// Dropdown
.dropdown {
	display: none;

	&.is-open {
		display: flex;
	}
}

.dropdown__container {
	// display: flex;
	// max-width: $container-max-width;
	width: 100%;
	// margin-left: auto;
	// margin-right: auto;
}

.dropdown__col {
	// margin-top: $space-3;
}

.dropdown__header {
	display: none;
	margin-bottom: $space-3;
}

.dropdown__list {
	display: block;
	width: 100%;
	border-bottom: 1px solid palette(grey, base);
}

.dropdown__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid palette(grey, light);

	&.is-expanded {
		& > .dropdown__sub-list {
			display: block;
		}
	}

	&:last-of-type {
		border-bottom: none;
	}

	&.has-sub-list > .dropdown__link {
		// color: red;
	}

	&:not(.has-sub-list) > .dropdown__link {
		font-weight: 400;
	}

	.dropdown__sub-list {
		// display: none;
	}
}

.dropdown__link {
	display: flex;
	flex: 1;
	font-weight: $bold-font-weight;
	color: $black;
	padding: $space-3 $space-3;
}

.dropdown__sub-list {
	display: none;
	width: 100%;
	border-top: 1px solid palette(grey, base);
	border-left: $space-2 solid palette(light-blue, base);
	background: palette(grey, xx-light);

	&.is-open {
		display: block;
	}
}

.dropdown__toggle-btn {
	background: palette(light-blue, dark);
	border-radius: 50%;
	margin-right: $space-2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;

	svg {
		fill: palette(dark-blue, base);
	}
}

// Breadcrumbs
.breadcrumbs-container {
	display: none;

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		background: rgba($blue, 0.1);
		padding-top: $space-2;
		padding-bottom: $space-2;
		border-bottom: 1px solid palette(grey, base);
	}
}

// Section nav
.section-header {
	background: rgba($blue, 0.1);
	padding: $space-4 0 0 0;
}

.section-header__title {
	margin-bottom: $space-3;
}

.section-nav__list {
	display: flex;
	width: 100%;
	overflow-x: scroll;
}

.section-nav__item {
	margin-right: $space-3;
}

.section-nav__link {
	display: block;
	position: relative;
	padding: $space-3 0;
	font-weight: $bold-font-weight;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: 5px solid $blue;
		border-radius: 1px 1px 0 0;
		transform: translateY(100%);
		transition: transform 0.1s ease-in-out;
	}

	&.active {
		&::after {
			border-bottom: 5px solid palette(dark-blue, base);
			transform: translateY(0);
		}
	}

	&:hover {
		&::after {
			transform: translateY(0);
		}
	}
}

