@import '../../../../../../../../../styleguide/src/scss/settings/settings';
@import '../../../../../../../../../styleguide/src/scss/mixins/palette';

.main-nav {
	background: $white;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(231, 231, 231, 0.5);
}

.main-nav__container {
	display: flex;
	flex-wrap: wrap;
	max-width: $container-max-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;

	@media screen and (min-width: $breakpoint-md) {
		flex-wrap: no-wrap;
	}
}

.main-nav__logo-wrapper {
	padding: $space-3;
	padding-left: $space-2;

	@media screen and (min-width: $breakpoint-md) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.main-nav__list {
	display: none;

	@media screen and (min-width: $breakpoint-md) {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		flex: 1;
		padding-left: $space-3;
	}
}

.main-nav__item {
	@media screen and (min-width: $breakpoint-md) {
		display: inline-block;
		position: relative;
		margin-left: $space-4;
		overflow: hidden;

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border-bottom: 5px solid $blue;
			border-radius: 1px 1px 0 0;
			transform: translateY(100%);
			transition: transform 0.1s ease-in-out;
		}

		&.active {
			&::after {
				border-bottom: 5px solid palette(dark-blue, base);
				transform: translateY(0);
			}
		}

		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
}

.main-nav__link {
	display: block;
	color: $black;
	font-weight: $bold-font-weight;
	font-size: 0.9375rem;
	padding: 1.5rem 0;
}

.main-nav__utilities {
	display: inline-flex;
	align-items: center;

	@media screen and (min-width: $breakpoint-md) {
		order: 3;
	}
}

.main-nav__icon-btn {
	display: inline-flex;
	margin-left: $space-1;
}

.icon-button {
	height: 40px;
	width: 40px;
	border: 1px solid palette(grey, light);
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background 0.1s ease-in-out;

	&:hover {
		background: palette(grey, light);
	}
}

.main-nav__menu-btn {
	@media screen and (min-width: $breakpoint-md) {
		display: none;
	}
}

.main-nav__show-more-btn {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

// Dropdown
.dropdown {
	display: none;

	&.is-open {
		display: flex;
	}

	@media screen and (min-width: $breakpoint-md) {
		display: none;

		&.is-open {
			display: none;
		}
	}
}

.dropdown__container {
	// display: flex;
	// max-width: $container-max-width;
	width: 100%;
	// margin-left: auto;
	// margin-right: auto;
}

.dropdown__col {
	// margin-top: $space-3;
}

.dropdown__header {
	display: none;
	margin-bottom: $space-3;
}

.dropdown__list {
	display: block;
	width: 100%;
	border-bottom: 1px solid palette(grey, base);
}

.dropdown__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid palette(grey, light);

	&.is-expanded {
		& > .dropdown__sublist {
			display: block;
		}
	}

	&:last-of-type {
		border-bottom: none;
	}

	&.has-sublist > .dropdown__link {
		// color: red;
	}

	&:not(.has-sublist) > .dropdown__link {
		font-weight: 400;
	}

	.dropdown__sublist {
		display: none;
	}
}

.dropdown__link {
	display: flex;
	flex: 1;
	font-weight: $bold-font-weight;
	color: $black;
	padding: $space-3 $space-3;
}

.dropdown__sublist {
	display: none;
	width: 100%;
	border-top: 1px solid palette(grey, base);
	border-left: $space-2 solid palette(light-blue, base);
	background: palette(grey, xx-light);

	&.is-open {
		display: block;
	}
}

.dropdown__toggle-btn {
	background: palette(light-blue, dark);
	border-radius: 50%;
	margin-right: $space-2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;

	svg {
		fill: palette(dark-blue, base);
	}
}

// Breadcrumbs
.breadcrumbs-container {
	display: none;

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		background: rgba($blue, 0.1);
		padding-top: $space-2;
		padding-bottom: $space-2;
		border-bottom: 1px solid palette(grey, base);
	}
}

// Section nav
.section-header {
	background: rgba($blue, 0.1);
	padding: $space-4 0 0 0;
}

.section-header__title {
	margin-bottom: $space-3;
}

.section-nav__list {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.section-nav__item {
	margin-right: $space-3;
}

.section-nav__link {
	display: block;
	position: relative;
	padding: $space-3 0;
	font-weight: $bold-font-weight;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: 5px solid $blue;
		border-radius: 1px 1px 0 0;
		transform: translateY(100%);
		transition: transform 0.1s ease-in-out;
	}

	&.active {
		&::after {
			border-bottom: 5px solid palette(dark-blue, base);
			transform: translateY(0);
		}
	}

	&:hover {
		&::after {
			transform: translateY(0);
		}
	}
}

// Article

.alternation {
	&:nth-child(even) {
		background-color: #fafafa;
	}
}

p.light {
	font-family: 'Lato';
	color: #3e3e3e;
	font-size: 0.9em;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.comments {
	li {
		background: #fff;
		border: 1px solid $darken-2;
		margin-bottom: 2rem;

		.comment-body {
			padding: 1rem;
		}

		.children li {
			border: none;
			border-top: 1px solid $darken-2;
			background: #f8fbfc;
			margin-bottom: 0;
		}
	}
}

.content-nav {
	&__heading {
		font-size: 0.75rem;
		color: palette(grey, x-dark);
		font-family: $sans-font-family;
		text-transform: uppercase;
		display: block;
		line-height: $space-4;
		margin-bottom: $space-2;
	}

	&__container {
		display: flex;
		flex-wrap: row wrap;
	}

	&__slider {
		width: 4px;
		height: 0;
		background: palette(dark-blue);
		flex: none;
		-webkit-transition: margin-top 1s, height 1s;
		transition: margin-top 1s, height 1s;
	}

	&__menu {
		margin-left: 0.5rem;
		flex: 1 auto;
	}

	&__item {
		margin: 0;

		a {
			padding: $space-1 0;
			display: inline-block;
		}
	}
}
