@import '../../../../../../../../../styleguide/src/scss/settings/settings';
@import '../../../../../../../../../styleguide/src/scss/mixins/palette';

// Article
p.light {
	font-family: 'Lato';
	color: #3e3e3e;
	font-size: 0.9em;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.comments {
	li {
		background: #fff;
		border: 1px solid $darken-2;
		margin-bottom: 2rem;

		.comment-body {
			padding: 1rem;
		}

		.children li {
			border: none;
			border-top: 1px solid $darken-2;
			background: #f8fbfc;
			margin-bottom: 0;
		}
	}
}

// Sidebar nav
.sidebar-nav {
	display: flex;
}

.sidebar-nav__list {
	display: block;
	width: 100%;
	border: 1px solid palette(grey, base);
}

.sidebar-nav__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid palette(grey, light);

	&:last-of-type {
		border-bottom: none;
	}

	&:not(.has-sublist) > .sidebar-nav__link {
		font-weight: 400;
	}

	&.active {
		.sidebar-nav__label {
			background: palette(dark-blue, base);
			color: $white;
		}
	}
}

.sidebar-nav__link,
.sidebar-nav__label {
	display: flex;
	flex: 1;
	font-weight: $bold-font-weight;
	color: $black;
	padding: $space-2;
}

.sidebar-nav__sublist {
	width: 100%;
}

.sidebar-nav__toggle-btn {
	background: palette(light-blue, dark);
	border-radius: 50%;
	margin-right: $space-2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;

	svg {
		fill: palette(dark-blue, base);
	}
}

.content-nav {
	&__heading {
		font-size: 0.75rem;
		color: palette(grey, x-dark);
		font-family: $sans-font-family;
		text-transform: uppercase;
		display: block;
		line-height: $space-4;
		padding-bottom: $space-2;
	}

	&__container {
		display: flex;
		flex-wrap: row wrap;
	}

	&__slider {
		width: 4px;
		height: 0;
		background: palette(dark-blue);
		flex: none;
		-webkit-transition: top 1s, height 1s, width 1s;
		transition: top 1s, height 1s, width 1s;
	}

	&__menu {
		margin-left: 0.5rem;
		flex: 1 auto;
	}

	&__item {
		margin: 0;

		a {
			padding: $space-1 0;
			display: inline-block;
		}
	}
}

// Site nav
.site-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: $white;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(231, 231, 231, 0.5);
}

.site-nav__top {
	width: 100%;
	border-bottom: 1px solid palette(grey, light);
	padding: $space-2;
}

.site-nav__bottom {
	width: 100%;

	@media screen and (min-width: $breakpoint-md) {
		padding-right: $space-2;
		padding-left: $space-2;
	}
}

.site-nav__container {
	width: 100%;

	@media screen and (min-width: $breakpoint-md) {
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.site-nav__list {
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: $breakpoint-md) {
		margin-left: auto;
	}
}

.site-nav__item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: 1px solid palette(grey, light);

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		width: auto;
		border-bottom: 0;
		padding-right: $space-3;

		&:last-of-type {
			padding-right: 0;
		}

		.dropdown {
			display: none;
		}

		&:hover {
			.dropdown {
				display: block !important;
			}
		}
	}
}

.site-nav__link {
	display: block;
	width: 100%;
	color: palette(black, base);
	position: relative;
	overflow: hidden;
	font-weight: $bold-font-weight;
	padding: $space-3 $space-2;

	@media screen and (min-width: $breakpoint-md) {
		padding: $space-3 0;
		display: inherit;
		font-size: 0.9375rem;

		&.active {
			&::after {
				border-bottom: 5px solid palette(dark-blue, base);
				transform: translateY(0);
			}
		}

		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
}

.dropdown {
	display: flex;
	width: 100%;
	background: palette(grey, xx-light);
	border-left: $space-2 solid palette(light-blue, base);

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(231, 231, 231, 0.5);
		position: absolute;
		left: 0;
		width: 100vw;
		background: palette($white, base);
		padding: $space-4 $space-3;
		border-left: none;
	}
}

.dropdown__list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-top: 1px solid palette(grey, light);

	@media screen and (min-width: $breakpoint-md) {
		border-top: 0;
	}
}

.dropdown__item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: 1px solid palette(grey, light);

	@media screen and (min-width: $breakpoint-md) {
		border-bottom: 0;
		width: calc(4 / 12 * 100%);
		margin-bottom: $space-3;
	}
}

.dropdown__link {
	display: block;
	width: 100%;
	padding: $space-3;
	color: palette(black, base);

	@media screen and (min-width: $breakpoint-md) {
		padding: 0;
		font-weight: $bold-font-weight;
		transition: color 0.125s ease-in-out;
	}

	&:hover,
	&:active,
	&:focus {
		color: palette(dark-blue, dark);
	}
}

.dropdown__link-description {
	display: none;

	@media screen and (min-width: $breakpoint-md) {
		display: block;
		font-size: $h5;
		font-style: italic;
		color: palette(grey, x-dark);
	}
}

.dropdown__see-all {
	display: block;
	width: 100%;
	clear: both;

	@media screen and (min-width: $breakpoint-md) {
		width: 100%;
		float: none;
	}
}

.dropdown__see-all-btn {
	display: block;
	padding: $space-3;
	font-weight: $bold-font-weight;

	@media screen and (min-width: $breakpoint-md) {
		padding: 0;
	}
}
